<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @film.titre %>
</p>

<p>
  <strong>Date:</strong>
  <%= @film.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @film.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @film.genre %>
</p>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
